.item {
  display: flex;
  margin-bottom: 10px;
  background-color: #ededed;
}

.photo {
  width: 30%;
  height: 30%;
}

.textbox {
  margin-left: 15px;
}

li:nth-child(even) {
  .title {
    color: red;
  }
}
